<div class="accordion-item">
    <h2 id="heading{{ .Get 0 }}" class="accordion-header">
        <a role="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{ .Get 0 }}" 
            aria-expanded="false" aria-controls="collapse{{ .Get 0 }}">
            {{ .Get 1 }}
        </a>
    </h2>
    <div id="collapse{{ .Get 0 }}" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#accordion" aria-labelledby="heading{{ .Get 0 }}">
        <div class="accordion-body">
            {{ .Inner }}
        </div>
    </div>
</div>